language: python
python:
  - "3.6"
addons:
  postgresql: "9.6"
dist: trusty
before_install:
  - export DJANGO_SETTINGS_MODULE=agrisync.settings
  - export DJANGO_SECRET_KEY='cdg163%%tc0^3v1g8r+qr9%8m^(ua^ay_nf*c^9sjda-=4+j^t'
  - psql -c "CREATE DATABASE agrisyncdb;" -U postgres
  - psql -c "CREATE USER agrisyncuser WITH LOGIN PASSWORD 'password';" -U postgres
  - psql -c "ALTER ROLE agrisyncuser WITH CREATEDB;" -U postgres
  - psql -c "GRANT ALL PRIVILEGES ON DATABASE agrisyncdb TO agrisyncuser;" -U postgres
install:
  - pip3 install coveralls
  - pip3 install pipenv
  - pipenv install --dev
script:
  - cp .env.example .env
  - cd src
  - source "$(pipenv --venv)"/bin/activate
  - flake8 .
  - python3 manage.py makemigrations
  - python3 manage.py migrate
  - coverage run --source='.' manage.py test
  - coverage report -m
#after_success:
#  - coveralls