[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.5"
django-decouple = "==2.1"
flake8 = "*"
psycopg2 = "*"
django-ckeditor = "==5.6.1"


[requires]
python_version = "3.6"
