{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Permission Denied !{% endblock %}
{% block customstyles %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        .main-container {
            height: 100vh;
            display: table;
            padding-top: 5rem;
        }

        .main-content {
            height: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block fullpagecontent %}
    <div class="container main-container">
        <div class="main-content pb-5">
            <img src="{% static 'assets/permission-denied.png' %}" alt="404 Logo" style="width: 30vmax" />
            <h3 class="h3-responsive pt-5" style="font-family: 'Montserrat', sans-serif;">
                Permission Denied
            </h3>
        </div>
    </div>
{% endblock %}
