{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Page not found !{% endblock %}
{% block customstyles %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        .main-container {
            height: 100vh;
            display: table;
            padding-top: 5rem;
        }

        .main-content {
            height: 100%;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}
{% block fullpagecontent %}
    <div class="container main-container">
        <div class="main-content pb-5">
            <img src="{% static 'assets/404.jpeg' %}" alt="404 Logo"/>
            <h3 class="h3-responsive" style="font-family: 'Montserrat', sans-serif;">
                The link you followed may be broken, or the page may have been removed.
            </h3>
            <a class="btn btn-primary" href="{% url 'main:index' %}">Home</a>
            <a class="btn btn-primary" href="{% url 'forum:index' %}">Forum</a>
        </div>
    </div>
{% endblock %}
