{% extends 'admin/base_site.html' %}
{% load staticfiles %}
{% block content %}
    <form action="{% url 'settings:settings_change_done' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="hash" value="{{ hash }}">
        <table>
            {% for key, value in fields.items %}
                <tr>
                <td>{{ key }}</td>
                <td>{{ value|safe }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit">
    </form>
    <a href="{% url 'settings:settings_reset' %}?hash={{ hash }}">Reset</a>
{% endblock %}